
<!DOCTYPE html>
<html>
<head>

	<title>Legit-Startbildschirm</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles\index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/c206fc02ad.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
	<script src="index.js" defer></script>
	
</head>
<body>

	<div id="start">


		<ul v-bind:class="{ FLYIN: active, Hidden: hidden }" >
			<li>L</li>
			<li>E</li>
			<li>G</li>
			<li>I</li>
			<li>T</li>

		</ul>

		<transition name="menubutton">

			<button id="Menubutton" v-bind:class="{ Loginbutton: loginbtn, hiddenButton: hiddenbtn}" v-on:click="loginform" v-if="menubutton">LOGIN</button>

		</transition>


	</div>
	<!--LoginForm -->
	
	<div class="form">

		<i class= "fa fa-user-circle fa fa-car fa-5x" aria-hidden="true"></i>

		<form id="loginform">

			<div class="inputform">
				<input class="logininput" type="text" placeholder="Username" v-model="username">
			</div>

			<div class="inputform" id="lastinput">
				<input class="logininput" type="password" placeholder="Password" v-model="password">
			</div>


			<input id="loginsubmit" type="submit" name="submit" value="LOGIN" v-on:click="login">

			<!-- v-on:click=toRegisterForm -->
			<p id="toRegisterForm" v-on:click="toRegisterForm">{{RegisterLink}}</p>


			<transition name="Errordiv">

				<div id="UserErrordiv" v-if="seen">	

					<p class="ErrorMessage ErrorMessageLogin">
						{{ErrorMessage}}
					</p>
					<video id="Khaledgif" width="320" height="240" autoplay loop>
						<source src="res/Gifs/Dj-Khaled.mp4" type="video/mp4">
						</video>

					</div>

				</transition>

				<transition name="bounce">

					<div id=failDiv v-if="fails">

						<span>FAILS: </span>

						<span>{{failcounterLogin}}</span>

						<p id="Annoying">{{AnnoyingMessage}}</p>

					</div>

				</transiton>	

			</form>



		</div>
		

		<!--RegisterForm-->
		<div id="RegisterVue">

		<div id="register-div">

			<p id="Registration-Heading">{{RegHeading}}</p>

			<form id="registerform">

				<div class="register-inputform">
					<input class="registerinput" id= "registername" type="text" placeholder="Username" v-model="username">
				</div>

				<div class="register-inputform" id="lastinput-register">
					<input class="registerinput" id= "registerpw" type="password" placeholder="Password" v-model="password">
				</div>

				<button id="register-submit" v-on:click="register">Register</button>

				<transition name="Errordiv">

					<div id="UserErrordiv" v-if="seen">	

						<p class="ErrorMessage">
							{{ErrorMessage}}
						</p>
						<video id="Khaledgif" width="320" height="240" autoplay loop>
							<source src="res/Gifs/Dj-Khaled.mp4" type="video/mp4">
							</video>

						</div>

					</transition>

					</form>

					<i id="backToLogin" class="fa fa-arrow-circle-left fa-2x" aria-hidden="true" v-on:click="backToLogin"></i>

				</div>

				<transition>

				<div id="registerSuccess" v-if="success">

							<image src="res/Gifs/graphics-explosions-210621.gif" type="image/gif">
							
						</div>	

			   </transition>

			</div>

			</body>
			</html>